{% extends "foundation/base.html" %}
{% block base_body %}
	<div class="row">
		<div class="large-3 columns">
			<center><img src="http://placehold.it/100x100&text=logo"/></center>
		</div>
		<div class="large-6 columns">
			<h3>CTRLPi Dashborad</h3>
		</div>
		<div class="large-3 columns">
			<ul class="inline-list right">
				<li><a href="#">Link 1</a></li></br>
				<li><a href="#">Link 2</a></li></br>
			</ul>
		</div>
	</div>

	<div class="row"> 
		<div class="large-9 push-3 columns">
			<div class="row">
				<div class="large-5 columns">
					<center><p>name. description.</p></center>
					<p>client 1. location one.</p>
				</div>
				<div class="large-2 columns">
					<center><p>status.</p></center>
					<center><img src="http://placehold.it/15/0f0"/></center>
				</div>
				<div class="large-2 columns">
					<center><p>uptime.</p></center>
					<center><p>2d</p></center>
				</div>
				<div class="large-3 columns">
					<center><p>task.</p></center>
					<center><p>commercial jul2014</p></center>
				</div>
			</div>
		</div>

		<!-- /begin Sidebar -->
		<div class="large-3 pull-9 columns">
			<ul class="side-nav">
				<li><a href="#">Link 1</a></li>
				<li><a href="#">Link 2</a></li>
				<li><a href="#">Link 3</a></li>
				<li><a href="#">Link 4</a></li>
				<li><a href="#">Link 5</a></li>
			</ul>
		</div>
	</div><!-- /end Sidebar -->

	<!-- /begin footer -->
	<footer class="row">
		<div class="large-12 columns">
			<hr/>
			<div class="row">
				<div class="large-8 columns">
					<ul class="inline-list left">
						<li><a href="#">About us</a></li>
						<li><a href="#">Documentation</a></li>
						<li><a href="#">Support</a></li>
					</ul>
				</div>
				<!-- Quem manda nessa porra aqui sou eu. -->
				<div class="large-4 columns">
					<p>Willian Paix&atilde;o &copy; 2014. All rights reserved.</p>
				</div>
			</div>
		</div> 
	</footer><!-- /end footer -->
{% endblock base_body %}
