{% extends "base.html" %}

{% block header %}
	<div class="row">
		<div class="large-3 columns">
			<center><img src="http://placehold.it/100x100&text=logo"/></center>
		</div>
		<div class="large-6 columns">
			<h3>CTRLPi Dashboard</h3>
		</div>
		<div class="large-3 columns">
			<ul class="inline-list right">
				<li><a href="#">Preferences</a></li></br>
				<li><a href="#">Sign out</a></li></br>
			</ul>
		</div>
	</div>
{% endblock %}

{% block footer %}
	<!-- /begin footer -->
	<footer class="row">
		<div class="large-12 columns">
			<hr/>
			<div class="row">
				<div class="large-8 columns">
					<ul class="inline-list left">
						<li><a href="#">About us</a></li>
						<li><a href="#">Documentation</a></li>
						<li><a href="#">Support</a></li>
					</ul>
				</div>
				<!-- Quem manda nessa porra aqui sou eu. -->
				<div class="large-4 columns">
					<p>Willian Paix&atilde;o &copy; 2014. All rights reserved.</p>
				</div>
			</div>
		</div> 
	</footer><!-- /end footer -->
{% endblock %}

{% block content %}
	<div class="row"> 
		<div class="large-10 push-2 columns">
			<div class="row">
                            <p> id = {{ node.id }}</p>
                            <p> ping = {{ node.ping }}</p>
                            <p> name = {{ node.name }}</p>
                            <p> address = {{ node.address }}</p>
                            <p> port = {{ node.port }}</p>
                            <p> mac = {{ node.mac }}</p>
                            <p> description = {{ node.description }}</p>
                            <p> admin = {{ node.admin }}</p>
                            <p> cpu_load = {{ node.cpu_load }}</p>
                            <p> mem_usage = {{ node.mem_usage }}</p>
                            <form id="reboot" action="." method="POST">
                                <input id="submit" type="button" value="Reboot" />
                            </form>
                            <form id="shutdown" action="." method="POST">
                                <input id="submit" type="button" value="Shutdown" />
                            </form>
			</div>
		</div>
	<div class="row"> 
{% endblock %}

{% block side_bar %}
	<div class="row"> 
		<!-- /begin Sidebar -->
		<div class="large-2 pull-10 columns">
			<ul class="side-nav">
				<li><a href="#">Link 1</a></li>
				<li><a href="#">Link 2</a></li>
				<li><a href="#">Link 3</a></li>
				<li><a href="#">Link 4</a></li>
				<li><a href="#">Link 5</a></li>
			</ul>
		</div>
	</div><!-- /end Sidebar -->
{% endblock %}

{% block body_js %}
<script>
        $(document).ready(function() {
                $("#reboot").click(function(){
                        $.ajax({url:"#", success:function(result){
                                console.log("reboot");
                        }});
                });

                $("#shutdown").click(function(){
                        $.ajax({url:"#", success:function(result){
                                console.log("shutdown");
                        }});
                });
        });
</script>
{% endblock body_js %}
